@import "./bulma";

.footer {
	a {
		// darker blue for AAA WCAG compliance
		color: #1D53AA;

		&.bulma-logo {
			vertical-align: top;
			margin-left: 0.5rem;

			img {
				height: 24px;
				width: 128px;
			}
		}
	}
}

.error-list {
	list-style: disc;
	margin-left: 1.25em
}
