@import "../styles/layout";
@import "../styles/palette";
@import "../styles/typography";

.control {
  margin: #{$spacing} 0;

  label {
    &.error {
      color: $error;
    }
  }

  input {
    font-size: $control-font-size;
    margin: #{$spacing / 4} #{$spacing / 2};
    padding: #{$spacing / 4};

    &.error {
      border-color: $error;
    }
  }
}
